:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-text: #434455;
  --color-black: #2e2f42;
}
/*ТЕГИ*/
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
ul {
  list-style-type: none;
}
header {
  background-color: #ffffff;
}
body {
  background-color: #ffffff;
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

/*---- HEADER ----*/

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: var(--color-primary-brand);
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-header {
  color: #2e2f42;
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--color-pressed-state);
  text-decoration: underline;
}
.header-contakt {
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}
.header-contakt:hover,
.header-contakt:focus {
  color: var(--color-pressed-state);
}

/*-- HERO ---*/

.section-hero {
  background-color: var(--color-black);
}
.hero-tittle {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  color: #ffffff;
  background-color: var(--color-primary-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: var(--color-pressed-state);
}
.hero-button:active {
  color: #ffffff;
  background-color: var(--color-pressed-state);
}
/*-- FEATURE --*/
.tittls-feature-team {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.features-team {
  color: var(--color-text);
  letter-spacing: 0.02em;
}

/*-- OUR TEAM ---*/

.our-team {
  background-color: #f4f4fd;
}
.team-portfolio {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;
}
.team-people {
  background-color: #ffffff;
}

/*--PORTFOLIO --*/

.rows-portfolio {
  background-color: #ffffff;
}
/*--- FOOTER --*/
.footer-page {
  background-color: var(--color-black);
  color: #ffffff;
}
.footer-logo {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-p {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
